#app-wrapper{

.header{
	width: 100%;
	height: .40rem;
	background: transparent;
	color: #000;
	font-size: .14rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 3;
	// background:$red;
	transition:all 1s;
}

.h_left{
	a{
		margin-left: .1rem;
	}
}

.h_search form{
	height: .3rem;
	display: flex;
	// align-items: center;
}

.h_search form input{
	padding: 0;
	border: 0;
	height: 100%;
	border-radius:0 5px 5px 0;
	padding-left: .1rem;
}

.h_search form button{
	padding: 0;
	border: 0;
	height: 100%;
	background: #eee;
	padding:0 .1rem;
	
	border-radius: 5px 0 0 5px;
}

}