$red : #d7063b;

.icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }

@import './css/index.scss';
@import './css/header.scss';
@import './css/bottom.scss';

